html {
    /*box-sizing: border-box;*/
    font-family: Calibri, sans-serif;
}


.graph{
    margin: 10vh;
    display: flex;
}

.su-board {

    position: relative;
}
.edge{

    color: #959595;
    display: block;
    margin: 0 10px;
}

.su-cell {
    position: absolute;
    cursor: pointer;
}



.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: gray;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -100px;
}


.tooltiptext::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #000000 transparent;
    border-width: 12px 9px 0;
    bottom: -10px;
    left: 50%;
    margin-left: -8px;
}


.su-cell:hover {
    outline: 1px solid #959595;
}

.su-cell:hover .tooltiptext {
    visibility: visible;
}


